/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $dark-grey;
}
