.page {
  height: 100%;
  margin: 0 auto;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  font-family: "Lato", "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $bg-text-white;
  margin: 0 auto;
  color: $dark-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    &--color::before {
      content: "";
      width: 50%;
      height: 694px;
      position: absolute;
      background-image:
        linear-gradient($bg-opacity 60%, $bg-opacity 60%),
        image-set(url("../../images/offer/cat-desktop@1x.jpg")),
        linear-gradient($bg-gradient 60%, $bg-gradient 50%);
      right: 0;
      background-position: left;
      background-size: 50%, 720px 694px contain;
      background-repeat: no-repeat;
    }
  }
}
