/* здесь используйте глобальные переменные */
$bg-color-dark: #000000;

$bg-text-white: #ffffff;

$bg-card-color: #222222;

$bg-color: #111111;

$dark-grey: #444444;

$basik-green: #68b738;

$background-grey: #f2f2f2;

$bg-borders: #d9d9d9;

