/* stylelint-disable @stylistic/indentation */
.additional {
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: 1fr;

  // @media (min-width: $tablet-width) {

  // }
}

.additional__container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    background-color: $basik-green;
    height: 2px;
    width: 90%;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $tablet-width) {
      top: 18px;
    }
  }
}

.additional__title {
  width: 286px;
  min-height: 24px;
  font-family: $primary-font;
  font-size: $title-mb;
  font-weight: inherit;
  line-height: 24px;
  color: $bg-color-dark;
  margin: 0;
  flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      width: 381px;
      padding: 0 40px;
      font-size: $title-x3;
      line-height: 32px;
      min-height: 32px;
    }

    @media (min-width: $desktop-width) {
      width: 416px;
      font-size: $title-heading;
      line-height: 40px;
      padding: 0 40px 0 0;
    }

    &--heading {
      position: relative;
      z-index: 2;
      background-color: $bg-text-white;
      padding-right: 40px;
    }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
  }
}

.additional__heading {
  font-family: $primary-font;
  font-size: $title-xs;
  font-weight: inherit;
  line-height: 16px;
  text-transform: uppercase;
  color: $bg-card-color;
  margin: 0;
  flex-wrap: wrap;

  // @media (min-width: $tablet-width) {
  //   width: 100%;
  //   min-height: 400px;
  // }

  //  @media (min-width: $desktop-width) {
  //   width: 100%;
  //   min-height: 400px;
  // }
}

// .additional__description {}

.additional__desc {
  font-family: $secondary-font;
  font-size: $title-ms;
  line-height: 14px;
  color: $dark-grey;
  flex-wrap: wrap;
}

.additional__price {
  font-family: $secondary-font;
  font-size: $title-ms;
  line-height: 14px;
  color: $dark-grey;
  flex-wrap: wrap;
}
