/* stylelint-disable @stylistic/indentation */
/* stylelint-disable CssSyntaxError */
.address {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 400px;
  }
}

.address__container {
  width: 320px;
  height: 474px;
  background-image: url("../../images/location/location-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 320px 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 600px;
    background-image: url("../../images/location/location-tablet@1x.jpg");
    background-size: 768px 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 400px;
    background-image: url("../../images/location/location-desktop@1x.jpg");
    background-size: 1440px;
    background-position: top;
    position: relative;
  }
}

.address__map {
  order: 2;
}

.address__wrapper {
  width: 100%;
  background-color: $bg-text-white;
  padding: 26px 0;
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
    justify-content: space-between;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 199px;
    position: absolute;
    left: 0;
    top: 95px;
    padding-left: 80px;
    padding-right: 80px;
    column-gap: 40px;
    margin-left: 110px;
  }
}

.address__text {
  width: 140px;
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
  flex-wrap: wrap;
  order: 1;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    font-size: $title-size;
    min-width: 163px;
    min-height: 78px;
  }
}

.address-info {
  width: 140px;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    font-size: $title-xs;
    min-width: 157px;
    min-height: 80px;
  }
}

.address-info__text {
  font-family: $secondary-font;
  font-weight: inherit;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  font-style: normal;
  display: flex;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 340px;
    min-height: 96px;
    line-height: 24px;
    font-size: $title-xs;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 72px;
    margin-bottom: 23px;
  }
}

.address-info__desc {
  font-family: $secondary-font;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  display: block;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    margin-top: 20px;
  }
}
