.address {
  display: flex;
  flex-direction: column;
}

// .address__container {}

.address__map {
  order: 2;
}

.address__wrapper {
  background-color: $bg-text-white;
  padding: 26px 0;
  display: flex;
  flex-direction: row-reverse;
}

.address__text {
  width: 140px;
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
  flex-wrap: wrap;
  order: 1;
}

.address-info {
  width: 140px;
}

.address-info__text {

  font-family: $secondary-font;
  font-weight: inherit;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  flex-wrap: wrap;
}

.address-info__desc {
  font-family: $secondary-font;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  display: block;
  flex-wrap: wrap;
}
