.address {}

.address__container {}

.address__map {}

.address__wrapper {
  background-color: $background-grey;
}

.address__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
}

.address-info {}

.address-info__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}

.address-info__desc {
  display: block;
}
