
.address {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: $bg-text-white;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  &--container {
    background-color: $background-grey;
  }
}

.address__container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.address__map {
  margin: 0 auto;
  width: 100vw;
  height: 362px;
  background: url("../../images/location/location-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  @media (min-width: $tablet-width) {
    max-height: 400px;
    background-image: url("../../images/location/location-tablet@1x.jpg");

    & iframe {
      max-height: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image: url("../../images/location/location-desktop@1x.jpg");

    & iframe {
      height: 400px;
    }
  }
}

.address__wrapper {
  min-height: min-content;
  background-color: $bg-text-white;
  padding: 26px 0;
  display: flex;
  order: 0;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
    justify-content: space-between;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 199px;
    position: absolute;
    left: 110px;
    top: 95px;
    padding-left: 80px;
    padding-right: 80px;
    column-gap: 40px;
  }
}

.address__text {
  flex-direction: column;
  width: 140px;
  min-height: 60px;
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
  order: 1;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    font-size: $title-size;
    min-width: 40%;
    min-height: auto;
  }
}

.address-info {
  width: 140px;
  display: flex;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    font-size: $title-xs;
    min-width: 30%;
    min-height: auto;
    align-content: end;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    min-width: 157px;
    text-align: start;
  }
}

.address-info__text {
  font-family: $secondary-font;
  font-weight: inherit;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  font-style: normal;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    line-height: 24px;
    font-size: $title-xs;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 72px;
  }
}

.address-info__desc {
  font-family: $secondary-font;
  font-size: $title-ms;
  color: $dark-grey;
  line-height: 20px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}
