.advantages {
  color: $bg-color-dark;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  width: 280px;
  height: 266px;
  padding: 30px 20px 18px;
  background-color: $background-grey;
  margin-bottom: 20px;

  &--skinny {}

  &--full {}
}

.advantages__title {
  font-family: $primary-font;
  font-size: $title-h2;
  line-height: 37px;
  margin: 0 0 29px;
  text-transform: uppercase;
  text-align: end;
  position: relative;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basik-green;
    background-position: left;
  }
}

.advantages__title--weight-loss {
  width: 180px;

  &::after {
    content: "";
    width: 36px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: -9px;
    background-image: url("../../icons/stack.svg#advantages_cat-slim");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    background-position: left top;
  }
}

.advantages__title--weight-gain {
  width: 217px;
  padding-left: 78px;

  &::after {
    content: "";
    width: 67px;
    height: 28px;
    position: absolute;
    left: -8px;
    top: 10px;
    background-image: url("../../icons/stack.svg#advantages_cat2-slim");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    background-position: left center;
  }
}

.advantages__text {
  font-family: $secondary-font;
  font-size: $title-h3;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
  flex-wrap: wrap;
}

.advantages__link {
  font-family: $primary-font;
  font-size: $title-h4;
  line-height: 16px;
  display: block;
  width: 139px;
  padding: 4px 0;
  color: $bg-color-dark;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  flex-wrap: wrap;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
    width: 240px;
    height: 1px;
    background-color: $bg-borders;
  }

  &::before {
    content: "";
    width: 24px;
    height: 12px;
    position: absolute;
    right: 17px;
    top: 6px;
    background-image: url("../../icons/stack.svg#advantages_arrow");
    background-repeat: no-repeat;
    background-size: 24px 12px;
    background-position: center;
  }

  &:not([href])::before {
    fill: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &[href]:hover::before,
  &[href]:focus-visible::before {
    width: 32px;
    background-size: 32px 15px;
    right: 0;
  }

  &[href]:active,
  &[href]:active::before {
    opacity: 0.3;
  }
}
