.button {
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 20px;
  text-align: center;
  color: $bg-text-white;
  background-color: $basik-green;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 280px;
  min-height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 0;

  &:disabled {
    fill: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    background-color: $bg-button;
  }

  &:not(:disabled):active {
    background-color: $bg-button;
    color: $bg-opacity-white;
  }

  &--primary {
    background-color: $background-grey;
    color: $dark-grey;

    &:not(:disabled):hover,
    &:not(:disabled):focus-visible,
    &:not(:disabled):active {
      background-color: $bg-primary;
      color: $dark-grey;
    }

    &:not(:disabled):active {
      opacity: 0.7;
      color: $dark-grey;
    }
  }

  &--position {
    position: absolute;
  }
  // &--secondary {}

  &--big {
    width: 100%;
  }
}
