.catalog {}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  color: $bg-color-dark;
  margin: 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item {}

.catalog__wrapper {}

.catalog__link-card {
  text-decoration: none;
}

.catalog__image-wrapper {}

.catalog__description {}

.catalog__heading {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: $bg-card-color;
  text-transform: uppercase;
}

.catalog__container {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.catalog__desc {}

.catalog__price {}

.catalog__subject {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
}

.catalog__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  margin: 0;
}
