.catalog {
  margin: 27px 0 25px;

  @media (min-width: $tablet-width) {
    margin: 65px 0 74px;
  }

  @media (min-width: $desktop-width) {
    margin: 74px 0 71px;
  }
}

.catalog__container {
  padding: 0;
}

.catalog__title {
  font-weight: inherit;
  font-family: $primary-font;
  flex-wrap: wrap;
  font-size: $title-x1;
  line-height: 36px;
  color: $bg-color-dark;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    min-height: 60px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 41px;
  display: grid;
  grid-template-columns: auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, 324px);
    margin-top: 84px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  position: relative;
  min-height: 209px;
  padding: 20px 0 25px;
  border-top: 1px solid $bg-line;

  &:last-child {
    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 511px;
    background-image: linear-gradient($bg-text-white 15%, $background-grey 15% 85%);
    border-top: none;
    padding: 0 37px 40px;

    &:last-child {
      background-image: none;
      border: 2px solid $background-grey;
    }
  }
}

.catalog__item--desc {
  padding-top: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 45%;
    transform: rotate(90deg);
    width: 30px;
    height: 2px;
    background-color: $bg-icon;
  }

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    right: 45%;
    transform: rotate(180deg);
    width: 30px;
    height: 2px;
    background-color: $bg-icon;
  }

  @media (min-width: $tablet-width) {
    padding: 50px 37px 40px;
    align-self: flex-end;
    min-height: 429px;


    &::after {
      width: 60px;
      top: 80px;
      left: 40%;
    }

    &::before {
      width: 60px;
      left: 40%;
      top: 80px;
    }
  }
}


.catalog__wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(min-content, 1fr, min-content);
  grid-template-areas: "img title";

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.catalog__link-card {
  text-decoration: none;
  display: block;
  grid-area: img;

  &:not([href]) {
    fill: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &[href]:hover,
  &[href]:focus-visible,
  &[href]:hover .catalog__icon,
  &[href]:focus-visible .catalog__icon {
    opacity: 0.7;
  }

  &[href]:active,
  &[href]:active .catalog__icon {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.catalog__link--card {
  width: 140px;
  min-height: 107px;
  text-align: center;
}

.catalog__icon {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__description {
  grid-area: title;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  &--more {
    padding: 0 30px;
    margin: 53px 0 21px;

    @media (min-width: $tablet-width) {
      margin: 110px 0 82px;
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin: 100px 0 90px;
    }
  }
}

.catalog__heading {
  font-family: $primary-font;
  font-size: $title-xs;
  font-weight: inherit;
  line-height: 20px;
  margin: 0;
  color: $bg-card-color;
  text-transform: uppercase;
  flex-wrap: wrap;
  width: 70%;
  min-height: 41px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: $title-size;
    line-height: 24px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog__holderbox {
  font-family: $secondary-font;
  font-size: $text-size;
  line-height: 16px;
  color: $dark-grey;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 37px;
    font-size: $title-xs;
    line-height: 20px;
  }
}

.catalog__desc {
  // width: 50%;
  float: left;
}

.catalog__price {
  text-align: end;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $bg-outline;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.catalog__subject {
  font-family: $primary-font;
  font-size: $title-xs;
  font-weight: inherit;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: $title-size;
    line-height: 24px;
    margin-bottom: 23px;
  }
}

.catalog__text {
  font-family: $secondary-font;
  font-size: $text-size;
  line-height: 16px;
  color: $dark-grey;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    font-size: $title-xs;
    line-height: 18px;
  }
}
