.copy {
  width: 280px;
  font-family: $secondary-font;
  font-size: $title-h4;
  line-height: 20px;
}

.copy__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  flex-wrap: wrap;

  &:not([href]) .copy-icon {
    fill: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &[href]:hover .copy-icon,
  &[href]:focus-visible .copy-icon,
  &[href]:active .copy-icon {
    fill: $basik-green;
  }

  &[href]:active,
  &[href]:active .copy-icon {
    opacity: 0.3;
  }
}

.copy-icon {
  display: block;
  fill: $bg-social;
}

.copy__text {
  display: block;
  color: $dark-grey;
  flex-wrap: wrap;
}
