/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.copy {
  padding-top: 20px;
  width: 100%;
  font-family: $secondary-font;
  font-size: $title-xs;
  line-height: 20px;
  position: relative;
  display: flex;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-borders;

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 202px;
    padding-top: 0;
    justify-content: flex-end;
  }
}


.copy__link {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  gap: 23px;

  &--icon::before {
    content: "";
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/copy/logo-html.svg");
    mask-position: right;
    mask-repeat: no-repeat;
    background-color: $bg-social;
    mask-size: 27px 34px;
    display: block;
  }

  &:not([href])::before {
    background-color: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &[href]:hover::before,
  &[href]:focus-visible::before,
  &[href]:active::before {
    background-color: $basik-green;
  }

  &[href]:active,
  &[href]:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.copy-icon {
  display: block;
  fill: $bg-social;
}

.copy__text {
  display: block;
  color: $dark-grey;
  flex-wrap: wrap;
}
