.dignities {}

.dignities__title {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  color: $bg-color-dark;
}

.dignities__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: example 0;
}

.dignities__item {
  counter-increment: example 1;


  &::marker {
    content: counters(example, ".");
  }

  &::before {
    position: absolute;
    content: counters(example, ".");
    font-size: 30px;
    line-height: 30px;
    color: $background-grey;
  }
}

.dignities__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin: 0;
}

.dignities__item--nutrients {}

.dignities__item--replace {}

.dignities__item--changes {}

