.example {
  font-weight: inherit;
  background-color: $bg-grey;
  padding: 25px 0 20px;
}

.example__title {
  min-height: 40px;
  font-family: $primary-font;
  font-size: $title-x1;
  font-weight: inherit;
  line-height: 40px;
  color: $bg-color-dark;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.example__text {
  font-family: $secondary-font;
  font-size: $title-ms;
  line-height: 18px;
  text-align: left;
  margin: 0 0 20px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    font-size: $title-xs;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 20px;
}

.example__achievement {
  padding: 14px 22px 0;
  position: relative;
  text-align: center;

  &:last-child {
    padding-left: 21px;
    padding-right: 21px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 124px;
    height: 56px;
    border: 1px solid $bg-outline;
    border-radius: 3px;
  }
}

.example__achievement-desc {
  font-weight: inherit;
  min-height: 24px;
  font-family: $primary-font;
  font-size: $title-mb;
  line-height: 24px;
  text-align: center;
  color: $bg-color-dark;
  text-transform: uppercase;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    font-size: $title-x2;
    line-height: 37px;
  }
}

.example__achievement-title {
  width: 77px;
  min-height: 24px;
  text-align: center;
  font-family: $secondary-font;
  font-size: $text-size;
  background-color: $bg-grey;
  line-height: 12px;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 8px 0 0;
}

.example__desc {
  font-weight: 400;
  font-family: $primary-font;
  font-size: $title-ms;
  line-height: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  color: $bg-color-dark;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.example__price {
  display: block;
  font-family: $primary-font;
  font-size: $title-ms;
  line-height: 20px;
  text-transform: uppercase;
  color: $bg-color-dark;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    line-height: 14px;
    margin-top: 9px;
    text-align: end;
  }
}
