.logo {
  width: 190px;
  align-items: center;
  display: block;
}

.logo-link {
  display: flex;
  align-items: center;

  &:not([href]) .logo-icon {
    color: $bg-card-color;
    cursor: default;
    opacity: 0.5;
  }

  &[href]:hover .logo-icon,
  &[href]:focus-visible .logo-icon {
    opacity: 0.8;
  }

  &[href]:active .logo-icon {
    opacity: 0.6;
  }
}
