.logo {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
    margin-bottom: 0;
  }
}

.logo__link {
  height: 38px;
  display: flex;
  align-items: center;


  &:not([href]) .logo__icon {
    color: $bg-card-color;
    cursor: default;
    opacity: 0.5;
  }

  &[href]:hover .logo__icon,
  &[href]:focus-visible .logo__icon {
    opacity: 0.8;
  }

  &[href]:active .logo__icon {
    opacity: 0.6;
  }

  // @media (min-width: $tablet-width) {
  //   width: 200px;
  //   padding: 0;
  // }
}

.logo__icon--name {
  margin: 0 65px 0 56px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}

