.main-nav {
  align-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  background-color: transparent;
  mask-repeat: no-repeat;
  mask-position: center;
  border: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    background-color: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    opacity: 0.7;
  }

  &:not(:disabled):active {
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    display: none;
  }

  &--open::after {
    content: "";
    width: 24px;
    height: 24px;
    mask-image: url("../../icons/logotypes/burger.svg");
    mask-size: 24px;
    background-color: $bg-color-dark;
    display: block;
  }

  &--close::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    mask-image: url("../../icons/logotypes/Logo_cross.svg");
    mask-size: 18px;
    background-color: $bg-color-dark;
  }
}
