.main-footer {
  width: 100%;
  margin: 0 auto;
}

.main-footer__social {
  padding: 40px 0;
  text-align: center;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    padding: 46px 0 55px;
  }

  // @media (min-width: $tablet-width) {
  //   padding: 66px 0;
  // }
}

.main-footer__container {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
}
