.main-header {
  width: 100%;
  min-height: 38px;
  margin: 0 auto;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__container {
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 50px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    column-gap: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
  }
}
