.main-nav {}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../icons/stack.svg#logotip_burger");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:disabled {
    fill: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    opacity: 0.7;
  }

  &:not(:disabled):active {
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    display: none;
  }

  &--close {}
}
