.offer {
  background-image: linear-gradient($bg-opacity 60%, $bg-text-white 50%), url("../../images/offer/cat-mobile@1x.jpg");
  background-size: contain, 320px 302px;
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  padding: 27px 0 29px;
  text-align: center;
  position: relative;

  @media (min-width: 768px) {
    background-image: none;
    min-height: 120px;
    padding: 0;
    margin-bottom: 526px;
  }
}

.offer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 416px;
    margin-top: 65px;
    margin-left: 90px;
  }
}

.offer__title {
  min-height: 72px;
  font-family: $primary-font;
  font-size: $title-x1;
  font-weight: 400;
  color: $bg-text-white;
  line-height: 36px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-image: none;
    font-size: 60px;
    line-height: 60px;
    min-height: 120px;
    color: $bg-color-dark;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;
  }
}

.offer__text {
  min-height: 20px;
  font-family: $primary-font;
  font-size: $title-ms;
  line-height: 14px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: $bg-text-white;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: $title-size;
    color: $bg-color-dark;
    line-height: 20px;
    text-align: left;
    margin-bottom: 50px;
  }
}

.offer__link {
  display: block;
  min-width: 280px;
  position: absolute;
  bottom: -10px;
  align-self: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    min-width: 244px;
    height: 54px;
    position: static;
    align-self: start;
  }
}

.offer__images-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

.offer__img {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    display: block;
    top: 69%;
    position: absolute;
    z-index: -1;
  }
}
