.sate {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  display: none;
  font-family: $primary-font;
  font-size: $title-size;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $bg-text-white;
  color: $bg-color-dark;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    font-size: $title-18;
    line-height: 24px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 33px;
    margin-right: 4px;
  }

  @media (min-width: $desktop-width) {
    min-height: 36px;
    font-size: $title-size;
    line-height: 29px;
    margin-right: 0;
    gap: 35px;
  }

  &--color {
    background-color: transparent;

    @media (min-width: $desktop-width) {
      .sate__link {
        color: $bg-text-white;
      }
    }
  }
}

.sate__item {
  border-top: 1px solid $bg-line;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.sate__link {
  color: $bg-color-dark;
  text-decoration: none;
  display: block;
  flex-wrap: wrap;
  padding: 22px 0 24px;
  text-align: center;

  &:not([href]) {
    color: $bg-card-color;
    cursor: default;
    opacity: 0.3;
  }

  &[href]:hover,
  &[href]:focus-visible,
  &[href]:active {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0 8px;
  }
}

.sate__item--current {
  position: relative;

  @media (min-width: $tablet-width) {
    display: inline-block;

    &::before {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $basik-green;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.sate__item--active {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $bg-text-white;
    }
  }
}

