.sate {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $basik-green;
}

.sate-list {

}

.sate__item {

}

.sate__item-current{

}

.sate__link {
  color: $bg-text-white;
  text-decoration: none;
  display: block;
}
