.stocks {
  color: $bg-color-dark;
}

.stocks__wrapper {}

.stocks__title {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.stocks__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.stocksstocks__form {}

.stocks__container {}

.stocks__label {}

.stocks__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-grey;
}
