.stocks {
  color: $bg-color-dark;
}

// .stocks__wrapper {}

.stocks__title {
  font-family: $primary-font;
  font-size: $title-mb;
  line-height: 24px;
  margin: 0;
  flex-wrap: wrap;
}

.stocks__text {
  font-family: $primary-font;
  font-size: $title-xs;
  line-height: 24px;
  margin: 0;
  flex-wrap: wrap;
}

// .stocks__form {}

// .stocks__container {}

// .stocks__label {}

.stocks__input {
  font-family: $primary-font;
  font-size: $title-size;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-grey;
}
